<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ms-3" href="#">Agenda Telefonica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home">Início</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/cadastro">Cadastrar Contato</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/gerenciar">Gerenciar Contatos</a>
        </li>
       </ul>

    </div>
  </nav>
